[build]
  command = "npm run build"
  publish = "dist"

[[headers]]
  for = "/admin/config.yml"
  [headers.values]
    Content-Type = "text/yaml; charset=utf-8"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
